body {
    background-color: black;
    margin: 0;
    color: white;
    font-family: serif;
    font-size: 1.5em;
}

/* ESTILOS PARA LA PANTALLA PRINCIPAL - pantalla 1 */

.seccionVisible {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.principal {
    background-image: url(/img/The-Witcher-3-Cabecera.jpg);
} 

#botonJugar {
    background-color: rgb(226, 199, 220);
    color: white;
    background: -webkit-linear-gradient(rgb(212, 204, 212), rgb(76, 68, 78));
    width: 8em;
    height: 2em;
    font-size: 1em;
    font-weight: bold;
    border: 3px solid rgb(85, 82, 85);
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

#botonJugar:hover {
    background-color: rgb(184, 225, 226);
    color: black;
    box-shadow: 0 12px 16px 0 rgba(189, 186, 186, 0.24), 0 17px 50px 0 rgba(89, 48, 102, 0.19);
}

/* ESTILOS PARA LA PANTALLA DE LOS PERSONAJES - pantalla 2 */

.texto {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 1.1em;
    text-align: center;
}

/* Estilos para el botón click me */

#click {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#boton {
    background-color: rgb(226, 199, 220);
    background: -webkit-linear-gradient(rgb(24, 23, 24), rgb(203, 190, 206));
    width: 5.5em;
    height: 2em;
    font-size: 1.3em;
    font-weight: bold;
    border: 3px solid rgb(85, 82, 85);
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

#boton:hover {
    background-color: rgb(184, 225, 226);
    color: black;
    box-shadow: 0 12px 16px 0 rgba(189, 186, 186, 0.24), 0 17px 50px 0 rgba(89, 48, 102, 0.19);
}

/* ESTILOS PARA LA PAGINA PERSONAJES ESCOGIDOS -pantalla 3 */

.general {
    margin-top: 0.3em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.general1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 95%;
    height: 95%;
    padding: 1em;
}

.general2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 95%;
    height: 95%;
    padding: 1em;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90vw;
    height: 80vh;
    padding: 1em;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 90vw;
    height: 60vh;
    cursor: pointer;
}

.selected {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:black;
    width: 80vw;
    height: 50vh;
    color:white;
}

.pj {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 15em;
    height: 15em;
    margin-left: 1em;
    margin-right: 1em;
}

.pj:hover {
    opacity: 70%;
    text-decoration: none;
}

.persona {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 110px;
    height: 130px;
}

.yennefer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 110px;
    height: 190px;
}

.pj1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 15em;
    height: 15em;
    margin-left: 1em;
    margin-right: 1em;
}

.pj1:hover {
    opacity: 50%;
    text-decoration: none;
}

.ciri {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 180px;
    height: 130px;
}

.pj2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 15em;
    height: 15em;
    margin-left: 1em;
    margin-right: 1em;
}

.pj2:hover {
    opacity: 50%;
    text-decoration: none;
}

.gerald {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 110px;
    height: 130px;
}

.pj3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 15em;
    height: 15em;
    margin-left: 1em;
    margin-right: 1em;
}

.pj3:hover {
    opacity: 50%;
    text-decoration: none;
}

.maribol {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 180px;
    height: 130px;
}

.botonera {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black; 
}

.battle {
    background: transparent;
    position: absolute;
    width: 600px;
    height: 500px;
    /* border: black solid 1px; */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1em;
}

.selected1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botonera button {
    background: linear-gradient(180deg, #2c2c2c, rgb(154, 158, 153));  
    font-size: 2em;
    cursor: pointer;
}

.image_size {
    width: auto;
    height: 400px;
}